[project]
name = "epub-converter"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "bs4>=0.0.2",
    "calibre>=0.4.1",
    "rarfile>=4.2",
]
